<?xml version='1.0' encoding='utf-8'?>
<widget id="com.assurance.lmr" version="0.1.1" android-versionCode="101" ios-CFBundleVersion="0.1.0">
  <name>M. Assurances</name>
  <description>
    Application d'assurances Cameroun
  </description>
  <author email="stephnguets@yahoo.fr">
    ishigo1987
  </author>
  <preference name="UseStrictSSL" value="true" />
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
  <plugin name="cordova-plugin-x-socialsharing" spec="5.1.7" />
  <plugin name="cordova-plugin-pdialog" spec="2.0.1" />
  <plugin name="cordova-plugin-local-notification" spec="0.9.0-beta.3"/>
  <platform name="android">
    <icon src="res/android/ldpi.png" density="ldpi" />
    <icon src="res/android/mdpi.png" density="mdpi" />
    <icon src="res/android/hdpi.png" density="hdpi" />
    <icon src="res/android/xhdpi.png" density="xhdpi" />
    <icon src="res/android/xxhdpi.png" density="xxhdpi" />
    <icon src="res/android/xxxhdpi.png" density="xxxhdpi" />
  </platform>
</widget>